<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>Fbelh@freravgl.qr</string>
	<key>contactName</key>
	<string>Stanley Rost</string>
	<key>description</key>
	<string>If you tag your comments with &lt;tt&gt;TODO&lt;/tt&gt;, &lt;tt&gt;FIXME&lt;/tt&gt;, or similar, this bundle provides functionality to list all your tagged items, with the ability to jump to either of them.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>14C1643E-7D51-11D9-859D-000D93B6E43C</string>
			<string>------------------------------------</string>
			<string>FD402E10-CFD1-4C2A-897F-75B8CEF3803F</string>
			<string>BB39210A-803B-47A2-B36D-889542E7857F</string>
			<string>7FD7606E-AACF-4FF3-9187-21C08323713E</string>
			<string>9C1A153D-B5DA-419F-8203-46D82DA8B929</string>
			<string>D2F7F545-5149-47B9-AC62-DBDC6ACAB9BB</string>
			<string>D67465D6-667F-4710-B5F8-574DA8112F14</string>
			<string>77D9DA40-E509-4F7A-9878-D9BE0B720603</string>
			<string>72EDF962-903F-4698-A2BA-085C5525B3A0</string>
			<string>------------------------------------</string>
			<string>65C4098C-BB16-4CA1-9297-B312BCD0433F</string>
			<string>46C3E5A1-7E04-11D9-AE69-000D93B6E43C</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>TODO</string>
	<key>ordering</key>
	<array>
		<string>14C1643E-7D51-11D9-859D-000D93B6E43C</string>
		<string>D2F7F545-5149-47B9-AC62-DBDC6ACAB9BB</string>
		<string>FD402E10-CFD1-4C2A-897F-75B8CEF3803F</string>
		<string>D67465D6-667F-4710-B5F8-574DA8112F14</string>
		<string>BB39210A-803B-47A2-B36D-889542E7857F</string>
		<string>77D9DA40-E509-4F7A-9878-D9BE0B720603</string>
		<string>7FD7606E-AACF-4FF3-9187-21C08323713E</string>
		<string>72EDF962-903F-4698-A2BA-085C5525B3A0</string>
		<string>9C1A153D-B5DA-419F-8203-46D82DA8B929</string>
		<string>46C3E5A1-7E04-11D9-AE69-000D93B6E43C</string>
		<string>65C4098C-BB16-4CA1-9297-B312BCD0433F</string>
	</array>
	<key>uuid</key>
	<string>0B296803-7D51-11D9-859D-000D93B6E43C</string>
</dict>
</plist>
